.btn {
  margin: 10px;
  background-color: brown;
  color: white;
}
h2 {
  margin: 20px;
  font-family: monospace;
  font-weight: lighter;
  font-size: 20px;
}
body {
  background-color: rgba(255, 192, 203, 0.399);
  font-family: monospace;
}
.details {
  font-style: italic;
  text-align: center;
}
#choices {
 background-color: rgba(112, 128, 144, 0.199);
 width: 75%
}

#meat {
  margin-left: 20px;
  width: 50%
}

#cheese {
  margin-left: 20px;
  width: 50%
}

#toppings {
  margin-left: 20px;
}

#size { 
  margin-left: 20px;
}

p {
  margin-left: 20px;
}

.column {
  float: left;
  width: 50%;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h1 {
  margin-top: 20px;
  text-align: center;
}
